<h1><center> Welcome to StoryVerse <% if @current_user%>
<%=  @current_user.name  %>
<% end %>
</h1></center>
<% if @logged_in %>
<center><%= link_to "create a new story", new_story_path %></center>
<% end %>
<center><h2> Heres a list of your stories</h2>

<% if @current_user%>
<center><% @current_user.stories.each do |story| %>
<p><%= link_to story.name , story %> </p>
<% end %>
  <% else puts "please login or register to see avaliable stories"  %>
<p> please login or register to see avaliable stories</p>
<% end %>
</center>
