<!DOCTYPE html>
<div class="chapter_show_box">
  <h1> Chapter show page </h1>
  <%= @chapter.name %><br>
  <br>
  <img src="<%= @chapter.image%>"><br />
  <br>
  <%= link_to "Add this chapter to your story"  %>
</div>
